In [2]:
"""https://drive.google.com/file/d/1FRnbQqgK6S-mr9StNF5MurSaXhah9uoJ/view?usp=sharing


https://drive.google.com/file/d/11rPJXr-9VoeV2Pi0RSfVehw1tbQOAjLI/view?usp=sharing

https://docs.google.com/spreadsheets/d/1z4EWsGxw0YBQ1-51xZDxYNlB3ngJzg4t/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true


https://docs.google.com/spreadsheets/d/1z2n8aeFF5GoohQ3KCZw8bKogezpO9l4k/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month """

'https://drive.google.com/file/d/1FRnbQqgK6S-mr9StNF5MurSaXhah9uoJ/view?usp=sharing\n\n\nhttps://drive.google.com/file/d/11rPJXr-9VoeV2Pi0RSfVehw1tbQOAjLI/view?usp=sharing\n\nhttps://docs.google.com/spreadsheets/d/1z4EWsGxw0YBQ1-51xZDxYNlB3ngJzg4t/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true\n\n\nhttps://docs.google.com/spreadsheets/d/1z2n8aeFF5GoohQ3KCZw8bKogezpO9l4k/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true\n\n1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave\n2 .Total working days for each agents \n3. Total query that you hvae taken \n4. total Feedback that you have received \n5. a agent name who have average rating between 3.5 to 4 \n6 . Agent name who have rating lesss then 3.5 \n7 . agent name who have rating more then 4.5 \n8 . how many feedaback agents have received more then 4.5 average\n9 . average weekly response time for each agent \n10 . average weekely resolution time for each agents \n11 . list of all agents name \n12 . percentage of chat on which they have received a feedback \n13 . Total contributation hour for each and every agents weekly basis \n14. total percentage of active hour for a month '

In [3]:
import pandas as pd

In [14]:
df=pd.read_csv(r'G:\ineuran\pandas\july 30\AgentPerformance.csv')

In [15]:
df1=pd.read_csv(r'G:\ineuran\pandas\july 30\AgentLogingReport.csv')

In [16]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,30-07-2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,30-07-2022,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,30-07-2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,30-07-2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,30-07-2022,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,01-07-2022,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,01-07-2022,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,01-07-2022,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,01-07-2022,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,01-07-2022,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [17]:
df1

     SL No               Agent       Date  Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  3:35:29 PM   5:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  3:06:59 PM   3:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  3:04:24 PM   5:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  2:34:29 PM   3:19:35 PM   00:45:06
4        5             Mukesh   30-Jul-22  2:03:15 PM   3:11:52 PM   01:08:36
..     ...                 ...        ...         ...          ...        ...
995    996        Manjunatha A  20-Jul-22  9:03:51 AM   3:02:28 PM   05:58:37
996    997            Bharath   20-Jul-22  9:00:49 AM   3:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  8:59:20 AM   2:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  8:43:55 AM   2:00:33 PM   05:16:38
999   1000              Tarun   01-Jul-22  1:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [19]:
df['date'] = pd.to_datetime(df['Date'])

In [20]:
df['year'] = df['date'].dt.year

In [21]:
df['month'] = df['date'].dt.month

In [22]:
df['week'] = df['date'].dt.week

C:\Users\bpa\AppData\Local\Temp/ipykernel_9172/3618305604.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week'] = df['date'].dt.week

In [23]:
#1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

df.groupby('week')['Average Rating'].mean()

week
1     1.076667
6     0.975972
10    0.943472
14    0.975278
18    1.317917
23    1.333611
27    1.542083
28    1.534389
29    1.511389
30    1.617847
31    1.749861
36    1.583056
40    1.204722
45    1.723194
49    1.444306
Name: Average Rating, dtype: float64

In [29]:
#2 .Total working days for each agents
df1.groupby('Agent')['converted_duration'].sum()

Agent
Aditya Shinde             0 days 00:02:10
Aditya_iot                0 days 15:43:52
Amersh                    0 days 03:03:50
Ameya Jain                1 days 18:04:32
Ankitjha                  0 days 02:16:01
Anurag Tiwari             0 days 02:46:44
Aravind                   1 days 00:17:57
Ayushi Mishra             1 days 14:07:18
Bharath                   2 days 00:04:36
Boktiar Ahmed Bappy       1 days 16:16:07
Chaitra K Hiremath        1 days 10:19:32
Deepranjan Gupta          4 days 10:16:31
Dibyanshu                 2 days 04:35:45
Harikrishnan Shaji        2 days 05:42:53
Hrisikesh Neogi           2 days 09:34:07
Hyder Abbas               0 days 00:23:17
Ineuron Intelligence      0 days 01:26:55
Ishawant Kumar            2 days 03:46:44
Jawala Prakash            1 days 22:24:08
Jaydeep Dixit             2 days 11:50:26
Khushboo Priya            1 days 19:33:31
Madhulika G               1 days 22:03:37
Mahesh Sarade             1 days 18:55:19
Maitry                    1 days 06:56:42
Manjunatha A              1 days 17:16:29
Mithun S                  1 days 21:10:25
Mukesh                    0 days 08:54:18
Muskan Garg               0 days 17:20:08
Nandani Gupta             1 days 16:10:20
Nishtha Jain              1 days 19:51:10
Nitin M                   0 days 00:47:56
Prabir Kumar Satapathy    1 days 09:22:38
Prateek _iot              0 days 18:25:05
Prerna Singh              1 days 21:42:56
Rishav Dash               1 days 17:46:32
Saikumarreddy N           1 days 19:08:15
Sanjeev Kumar             1 days 20:41:14
Saurabh Shukla            0 days 16:39:47
Shiva Srivastava          0 days 14:59:39
Shivan K                  1 days 12:06:08
Shivananda Sonwane        2 days 01:17:16
Shubham Sharma            2 days 05:47:54
Sowmiya Sivakumar         1 days 20:45:15
Sudhanshu Kumar           1 days 22:13:52
Suraj S Bilgi             0 days 12:33:33
Swati                     1 days 01:00:04
Tarun                    21 days 10:08:20
Wasim                     2 days 00:10:45
Zeeshan                   2 days 01:05:19
Name: converted_duration, dtype: timedelta64[ns]

In [30]:
# 3. Total query that you hvae taken 
df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [31]:
#4. total Feedback that you have received 
df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [51]:
#5. a agent name who have average rating between 3.5 to 4 
df3=df[(df['Average Rating'] >=3.5 ) & (df['Average Rating']<=4)]
df3['Agent Name']

4                    Swati
10             Manjunatha A
73      Boktiar Ahmed Bappy
76            Prateek _iot
78            Nandani Gupta
               ...
1941         Jawala Prakash
2018          Sanjeev Kumar
2021          Aditya Shinde
2023       Deepranjan Gupta
2097          Sanjeev Kumar
Name: Agent Name, Length: 114, dtype: object

In [50]:
#6 . Agent name who have rating lesss then 3.5 
df2=df[(df['Average Rating'] < 3.5)  & (df['Agent Name'])]
df2['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

In [52]:
#7 . agent name who have rating more then 4.5
df[df['Average Rating'] > 4.5]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,year,month,week
2,3,30-07-2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,2022,7,30
3,4,30-07-2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,2022,7,30
5,6,30-07-2022,Mukesh,9,00:00:34,00:15:34,4.62,8,2022-07-30,2022,7,30
6,7,30-07-2022,Saikumarreddy N,15,00:00:31,00:11:09,5.00,12,2022-07-30,2022,7,30
7,8,30-07-2022,Sanjeev Kumar,12,00:00:55,00:20:43,5.00,6,2022-07-30,2022,7,30
...,...,...,...,...,...,...,...,...,...,...,...,...
2100,2101,01-07-2022,Shubham Sharma,22,00:01:48,00:29:26,5.00,13,2022-01-07,2022,1,1
2101,2102,01-07-2022,Jaydeep Dixit,25,00:01:15,00:26:27,4.77,13,2022-01-07,2022,1,1
2102,2103,01-07-2022,Shivananda Sonwane,23,00:01:24,00:30:14,4.86,14,2022-01-07,2022,1,1
2103,2104,01-07-2022,Khushboo Priya,24,00:01:46,00:29:28,4.61,18,2022-01-07,2022,1,1
2104,2105,01-07-2022,Hrisikesh Neogi,15,00:01:05,00:25:29,4.56,9,2022-01-07,2022,1,1

In [69]:
#8 . how many feedaback agents have received more then 4.5 avg rating
df[(df['Average Rating']  > 4.5)].groupby('Agent Name')["Total Feedback"].mean()

Agent Name
Aditya Shinde             10.428571
Aditya_iot                 7.166667
Ameya Jain                18.750000
Anirudh                    2.000000
Ankitjha                   1.000000
Aravind                   16.181818
Ayushi Mishra              9.375000
Bharath                   13.588235
Boktiar Ahmed Bappy        6.500000
Chaitra K Hiremath         2.500000
Deepranjan Gupta          11.857143
Harikrishnan Shaji        11.428571
Hrisikesh Neogi           16.636364
Ishawant Kumar             6.583333
Jawala Prakash             6.600000
Jayant Kumar               3.500000
Jaydeep Dixit             13.769231
Khushboo Priya            10.307692
Madhulika G                8.375000
Mahesh Sarade             11.500000
Maitry                    11.571429
Manjunatha A              10.153846
Mithun S                  18.600000
Mukesh                     8.500000
Mukesh Rao                 1.000000
Muskan Garg                7.000000
Nandani Gupta             13.000000
Nishtha Jain               3.000000
Prabir Kumar Satapathy     8.833333
Prateek _iot               6.000000
Prerna Singh               9.111111
Rishav Dash                9.000000
Saikumarreddy N           23.000000
Sandipan Saha              1.000000
Sanjeev Kumar             14.909091
Saurabh Shukla             1.500000
Shiva Srivastava           2.000000
Shivan K                  14.444444
Shivananda Sonwane         9.058824
Shubham Sharma            12.916667
Sowmiya Sivakumar         16.000000
Sudhanshu Kumar            1.000000
Suraj S Bilgi              4.000000
Swati                     14.714286
Vivek                      3.000000
Wasim                     15.600000
Zeeshan                   16.000000
Name: Total Feedback, dtype: float64

In [78]:
#9 . average weekly response time for each agent
df['con_ave_res_time'] = pd.to_timedelta(df['Average Response Time'])
df.groupby('week')["con_ave_res_time"].mean()

week
1    0 days 00:00:20.944444444
6    0 days 00:00:17.847222222
10   0 days 00:00:17.013888888
14   0 days 00:00:16.888888888
18   0 days 00:00:26.319444444
23   0 days 00:00:45.513888888
27   0 days 00:00:23.638888888
28   0 days 00:00:25.372222222
29   0 days 00:00:24.634920634
30   0 days 00:00:25.298611111
31             0 days 00:00:26
36   0 days 00:00:23.097222222
40   0 days 00:00:17.666666666
45   0 days 00:00:21.972222222
49   0 days 00:00:26.569444444
Name: con_ave_res_time, dtype: timedelta64[ns]

In [144]:
# 10 . average weekely resolution time for each agents
df['week'].groupby('Agent Name')['Con_Average_Resolution_Time'].mean()

KeyError: 'Agent Name'

In [95]:
# 10 . average weekely resolution time for each agents
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback', 'date',
       'year', 'month', 'week', 'con_ave_res_time',
       'Con_Average_Resolution_Time'],
      dtype='object')

In [134]:
# 11 . list of all agents name 
df['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

In [138]:
#12 . percentage of chat on which they have received a feedback 
df['Total Feedback'].describe()

count    2160.000000
mean        4.286574
std         7.412594
min         0.000000
25%         0.000000
50%         0.000000
75%         7.000000
max        56.000000
Name: Total Feedback, dtype: float64

In [ ]:
#13 . Total contributation hour for each and every agents weekly basis

In [145]:
df1.groupby('Agent')['Duration'].sum()

Agent
Aditya Shinde                                                      00:02:10
Aditya_iot                02:12:0500:49:4600:04:2002:14:4301:57:4702:19:...
Amersh                                     00:02:4002:54:5200:05:2900:00:49
Ameya Jain                05:59:4406:00:1205:59:3700:44:4000:07:2404:01:...
Ankitjha                                   02:01:2400:09:3000:02:4000:02:27
Anurag Tiwari             00:05:4400:05:0000:08:3300:01:1000:02:2500:02:...
Aravind                   00:01:0900:02:4006:01:2804:16:4601:07:1000:00:...
Ayushi Mishra             00:06:2100:09:3602:11:5703:51:3900:13:4000:37:...
Bharath                   06:03:2906:06:2005:51:5905:58:3306:16:4800:01:...
Boktiar Ahmed Bappy       00:42:2904:01:3000:20:4100:02:1000:46:3203:34:...
Chaitra K Hiremath        00:02:1000:16:0503:51:3103:16:3005:01:3902:38:...
Deepranjan Gupta          06:04:3701:03:4601:25:1801:28:4507:09:3801:01:...
Dibyanshu                 01:07:2800:02:0000:02:0000:02:0002:10:5800:02:...
Harikrishnan Shaji        02:13:4304:07:1301:48:2400:03:4003:33:5900:02:...
Hrisikesh Neogi           00:45:0602:35:2901:37:2500:54:4702:32:0601:41:...
Hyder Abbas                                                00:03:0700:20:10
Ineuron Intelligence                                               01:26:55
Ishawant Kumar            00:07:1006:01:0400:04:4000:02:5000:02:4000:02:...
Jawala Prakash            03:26:0301:43:2600:06:5200:34:2000:12:3504:23:...
Jaydeep Dixit             00:04:3000:05:5005:38:5306:01:4506:04:3624:09:...
Khushboo Priya            00:00:1703:31:2202:03:1502:59:4302:16:0302:38:...
Madhulika G               05:20:3005:46:3506:02:2200:22:4300:01:5400:01:...
Mahesh Sarade             00:59:4502:24:4402:41:5300:03:2900:24:2500:31:...
Maitry                             06:17:1406:14:4006:01:4406:13:0706:09:57
Manjunatha A              01:08:1603:46:2306:02:4306:05:3405:52:2906:12:...
Mithun S                  06:01:1000:02:1005:54:1006:30:4900:02:1000:01:...
Mukesh                                             01:08:3605:52:2401:53:18
Muskan Garg               02:18:0602:21:1002:42:4702:40:5700:16:0002:19:...
Nandani Gupta             02:26:4205:21:1700:32:0906:00:0406:05:4401:36:...
Nishtha Jain              03:31:1701:31:1200:02:0703:10:1502:02:1900:10:...
Nitin M                                                            00:47:56
Prabir Kumar Satapathy    00:11:1002:43:2303:28:2101:01:2404:27:4501:17:...
Prateek _iot              00:03:5002:05:1000:16:4502:09:3902:22:0001:58:...
Prerna Singh              01:37:4003:16:3702:12:2700:03:1107:47:2900:02:...
Rishav Dash               06:39:2706:53:4600:01:5503:49:3505:28:1105:01:...
Saikumarreddy N           06:01:3106:12:0100:01:4905:54:0400:00:1006:16:...
Sanjeev Kumar             06:05:4602:27:3103:37:5400:02:1000:30:3100:21:...
Saurabh Shukla            00:43:0000:02:0000:02:0000:02:0000:02:0000:02:...
Shiva Srivastava          02:30:3402:08:5200:31:0902:19:3302:09:5002:12:...
Shivan K                  00:30:4200:26:2000:06:1000:02:0000:18:4002:31:...
Shivananda Sonwane        02:04:1006:01:3900:16:4100:00:1300:29:1700:30:...
Shubham Sharma            00:14:2000:26:5806:05:0901:20:1700:25:2701:35:...
Sowmiya Sivakumar         01:02:2604:38:3701:40:5804:37:2001:15:3802:01:...
Sudhanshu Kumar           01:00:3320:41:1200:04:5000:40:3000:32:1001:45:...
Suraj S Bilgi                      01:21:4104:25:5500:33:1705:59:5000:12:50
Swati                              06:08:3306:05:2000:03:0006:32:5406:10:17
Tarun                                                             514:08:20
Wasim                     07:19:5000:02:2006:12:0705:24:0500:01:5003:45:...
Zeeshan                   06:12:5006:03:1206:03:0106:20:3706:05:2700:01:...
Name: Duration, dtype: object

In [146]:
#14. total percentage of active hour for a month